<div id="hero" class="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="animate__animated animate__fadeIn">Sergio Pérez</h1>
          <div class="page-scroll">
            <p class="job-title animate__animated animate__backInLeft">
              Front-end Developer
            </p>
            <a href="#contact" class="btn btn-fill">Contacto</a>
            <a href="#portfolio" class="btn btn-border">Proyectos</a>
          </div>
        </div>
  
        <div class="col-md-6 text-right">
          <img
            class="animate__animated animate__fadeIn animate__delay-1s"
            src="assets/img/sergio1.jpg"
            alt="Sergio-Perez"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- /.hero -->
  
  <main id="main" class="site-main">
    <section id="about" class="site-section section-about text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2>Sobre mi</h2>
            <img src="assets/img/lines.svg" class="img-lines" alt="lines" />
            <p>
              <strong style="font-style: italic">Disfruto programando</strong>
              porque me permite crear aplicaciones desde cero haciendo uso de mi
              creatividad. Considero cada proyecto en el que trabajo como una meta
              personal y de gran importancia para mí, priorizando siempre el
              objetivo del producto.
            </p>
  
            <p>
              <strong style="font-style: italic"
                >Aprovechando el tiempo...</strong
              >
              Estoy constantemente buscando mejorar y ampliar mis conocimientos ya
              que esta es una profesión en la cual es imprescindible mantenerse
              actualizado, por esta razón dedico gran parte de mi tiempo al
              aprendizaje, mayormente de forma autodidacta y también mediante
              cursos.
            </p>
            <p>
              <strong style="font-style: italic">Mi objetivo...</strong>
              Actualmente, estoy buscando unirme a un equipo donde pueda crecer
              como profesional.
            </p>
            <a
              href="../../../assets/img/currilculum1.pdf"
              class="btn btn-fill"
              target="_blank"
              download="currilculum1.pdf"
              >Download my cv</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- /.secton-about -->
  
    <section class="site-section section-skills">
      <div class="container">
        <div class="text-center">
          <h3>Tecnologías con las que trabajo:</h3>
          <img src="assets/img/lines.svg" class="img-lines" alt="lines" />
        </div>
        <div class="text-center">
          <h3>Front end</h3>
          <img src="assets/img/lines.svg" class="img-lines" alt="lines" />
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="skill">
              <h4><i class="fab fa-html5 mr-2"></i> HTML5/CSS3</h4>
            </div>
            <!-- /.skill -->
            <div class="skill">
              <h4><i class="fab fa-js mr-2"></i> JavaScript</h4>
            </div>
            <!-- /.skill -->
          </div>
          <div class="col-md-4">
            <div class="skill">
              <h4><i class="fas fa-code mr-2"></i> TypeScript</h4>
            </div>
            <!-- /.skill -->
            <div class="skill">
              <h4><i class="fas fa-file-code mr-2"></i> jQuery</h4>
            </div>
            <!-- /.skill -->
          </div>
          <div class="col-md-4">
            <div class="skill">
              <h4><i class="fab fa-vuejs mr-2"></i> Vue.js/Vuex</h4>
            </div>
            <!-- /.skill -->
            <div class="skill">
              <h4><i class="fab fa-angular mr-2"></i> Angular</h4>
            </div>
            <!-- /.skill -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.secton-skills -->
  
    <section class="site-section section-skills">
      <div class="container">
        <div class="text-center">
          <h3>Back end</h3>
          <img src="assets/img/lines.svg" class="img-lines" alt="lines" />
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="skill">
              <h4><i class="fab fa-node-js mr-2"></i> Node.js</h4>
            </div>
            <!-- /.skill -->
            <div class="skill">
              <h4><i class="fab fa-java mr-2"></i> Java</h4>
            </div>
            <!-- /.skill -->
          </div>
          <div class="col-md-4">
            <div class="skill">
              <h4><i class="fab fa-php mr-2"></i> PHP</h4>
            </div>
            <!-- /.skill -->
            <div class="skill">
              <h4><i class="fas fa-database mr-2"></i> MongoDB</h4>
            </div>
            <!-- /.skill -->
          </div>
          <div class="col-md-4">
            <div class="skill">
              <h4><i class="fas fa-database mr-2"></i> Firebase</h4>
            </div>
            <!-- /.skill -->
            <div class="skill">
              <h4><i class="fas fa-database mr-2"></i> SQL</h4>
            </div>
            <!-- /.skill -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.secton-skills -->
  
    <section
      id="service"
      class="site-section section-services overlay text-center"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>Conocimientos</h3>
            <img src="assets/img/lines.svg" class="img-lines" alt="lines" />
          </div>
          <div class="col-sm-4">
            <div class="service">
              <img src="assets/img/front-end.svg" alt="Front End Developer" />
              <h4>Front-end</h4>
              <p>
                El Front es lo que mas me gusta! :), he aportado en proyectos
                sobre todo app-web utilizando frameworks como VueJS o Angular
              </p>
            </div>
            <!-- /.service -->
          </div>
          <div class="col-sm-4">
            <div class="service">
              <img src="assets/img/back-end.svg" alt="Back End Developer" />
              <h4>Back-end</h4>
              <p>
                Aunque reconozco que el Back no es mi fuerte, tengo experiencia
                con NodeJS y he aportado en algunos proyectos utilizando algunas
                de las más conocidas librerias de esta tecnología
              </p>
            </div>
            <!-- /.service -->
          </div>
          <div class="col-sm-4">
            <div class="service">
              <img src="assets/img/consultancy.svg" alt="Coding" />
              <h4>Java y PHP</h4>
              <p>
                He realizado cursos tanto de Java como PHP, se puede decir que
                entiendo bastante bien la POO, aunque en realidad no he trabajado
                todavía en ningún proyecto con estos lenguajes de programación.
              </p>
            </div>
            <!-- /.service -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.secton-services -->
  
    <section id="portfolio" class="site-section section-portfolio">
      <div class="container">
        <div class="text-center">
          <h3>Proyectos</h3>
          <img src="assets/img/lines.svg" class="img-lines" alt="lines" />
        </div>
        <div class="row">
          <div class="col-md-4 col-xs-6">
            <div class="portfolio-item">
              <img
                src="assets/img/blog01.png"
                class="img-res"
                alt="imagen de blog"
              />
              <div class="portfolio-item-info">
                <h4>Blog (vueJS y Node)</h4>
                <a
                  href="assets/img/blog01.png"
                  data-toggle="modal"
                  data-target="#portfolioItem1"
                  ><span class="glyphicon glyphicon-eye-open"></span
                ></a>
                <a href="https://github.com/SPGcode/blogSPGfrontend"
                  ><span class="glyphicon glyphicon-link"></span
                ></a>
              </div>
              <!-- /.portfolio-item-info -->
            </div>
            <!-- /.portfolio-item -->
            <!--Modal-->
            <div class="modal fade" id="portfolioItem1">
              <div class="modal-dialog">
                <div class="modal-body">
                  <img
                    src="assets/img/blog01.png"
                    class="img-res"
                    alt="imagen de chat"
                  />
                </div>
                <div class="modal-footer">
                  <button
                    name="closed"
                    type="button"
                    class="btn btn-secondary close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    Close &times;
                  </button>
                </div>
              </div>
            </div>
            <!-- /.modal-->
          </div>
          <div class="col-md-4 col-xs-6">
            <div class="portfolio-item">
              <img
                src="assets/img/chat02.jpg"
                class="img-res"
                alt="imagen de chat"
              />
              <div class="portfolio-item-info">
                <h4>Chat space(vueJS)</h4>
                <a
                  href="assets/img/chat02.jpg"
                  data-toggle="modal"
                  data-target="#portfolioItem2"
                  ><span class="glyphicon glyphicon-eye-open"></span
                ></a>
                <a href="https://github.com/SPGcode/Chat"
                  ><span class="glyphicon glyphicon-link"></span
                ></a>
              </div>
              <!-- /.portfolio-item-info -->
            </div>
            <!-- /.portfolio-item -->
  
            <!--modal-->
            <div class="modal fade" id="portfolioItem2">
              <div class="modal-dialog">
                <div class="modal-body">
                  <img
                    src="assets/img/chat02.jpg"
                    class="img-res"
                    alt="imagen de chat"
                  />
                </div>
                <div class="modal-footer">
                  <button
                    name="closed"
                    type="button"
                    class="btn btn-secondary close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    Close &times;
                  </button>
                </div>
              </div>
            </div>
            <!-- /.modal-->
          </div>
          <div class="col-md-4 col-xs-6">
            <div class="portfolio-item">
              <img src="assets/img/computer.png" class="img-res" alt="" />
              <div class="portfolio-item-info">
                <h4>Buscaversiculo(Vuex)</h4>
                <a href="#" data-toggle="modal" data-target="#portfolioItem3"
                  ><span class="glyphicon glyphicon-eye-open"></span
                ></a>
                <a href="https://github.com/SPGcode/La-biblia-rvr"
                  ><span class="glyphicon glyphicon-link"></span
                ></a>
              </div>
              <!-- /.portfolio-item-info -->
            </div>
            <!-- /.portfolio-item -->
  
             <!--modal-->
             <div class="modal fade" id="portfolioItem3">
              <div class="modal-dialog">
                <div class="modal-body">
                  <img
                    src="assets/img/computer.png"
                    class="img-res"
                    alt="imagen de chat"
                  />
                </div>
                <div class="modal-footer">
                  <button
                    name="closed"
                    type="button"
                    class="btn btn-secondary close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    Close &times;
                  </button>
                </div>
              </div>
            </div>
            <!-- /.modal-->
          </div>
          <div class="col-md-4 my-4 col-xs-6">
            <div class="portfolio-item">
              <img src="assets/img/portfolio.JPG" class="img-res" alt="" />
              <div class="portfolio-item-info">
                <h4>Portfolio(Angular)</h4>
                <a href="#" data-toggle="modal" data-target="#portfolioItem4"
                  ><span class="glyphicon glyphicon-eye-open"></span
                ></a>
                <a href="https://github.com/SPGcode/Portfolio-SergioP"
                  ><span class="glyphicon glyphicon-link"></span
                ></a>
              </div>
              <!-- /.portfolio-item-info -->
            </div>
            <!-- /.portfolio-item -->
                       <!--modal-->
                       <div class="modal fade" id="portfolioItem4">
                          <div class="modal-dialog">
                            <div class="modal-body">
                              <img
                                src="assets/img/portfolio.JPG"
                                class="img-res"
                                alt="imagen de chat"
                              />
                            </div>
                            <div class="modal-footer">
                              <button
                                name="closed"
                                type="button"
                                class="btn btn-secondary close"
                                data-dismiss="modal"
                                aria-label="Close"
                              >
                                Close &times;
                              </button>
                            </div>
                          </div>
                        </div>
                        <!-- /.modal-->
          </div>
        </div>
      </div>
    </section>
    <!-- /.secton-portfolio -->
  </main>
  <!-- /#main -->
